// Required Parameters
params.reads = "/scratch/cgsb/bergelson/plant-genomes/CompRgeneEvolution/WGS_sequencing_Athaliana_Chirsuta_2022-08-15_HNCMMDSX3/merged/HNCMMDSX3_n0{1,2}_Bchi_095.fastq.gz"
//params.reads = "/scratch/kr3059/SeqData_analysis/raw/HNCMMDSX3_n0{1,2}_Bchi_016_4000000.fastq.gz"
params.ref = "/scratch/work/cgsb/genomes/Public/Plant/Arabidopsis_thaliana/NCBI/TAIR10/GCF_000001735.3_TAIR10_genomic.fna"
params.outdir = "$SCRATCH/SeqData_analysis_nextflow/gatk4"
params.snpeff_db = "Arabidopsis_thaliana"
params.pl = "illumina"
params.pm = "novaseq"
params.fcid = "HNCMMDSX3"
params.adapters = "/share/apps/trimmomatic/0.36/adapters/NexteraPE-PE.fa"
params.hc_config = ""

// JBrowse params
params.do_jbrowse = false
params.gff = "/scratch/work/cgsb/genomes/Public/Plant/Arabidopsis_thaliana/NCBI/TAIR10/GCF_000001735.3_TAIR10_genomic.fna"
params.jbrowse_pi = "Bergelson"
params.dataset_name = "WGS_Ath_Midi"

// Set the Nextflow Working Directory
// By default this gets set to params.outdir + '/nextflow_work_dir'
workDir = params.outdir + '/nextflow_work_dir'

// slurm and resource allocation
process {
    executor = 'slurm'
    clusterOptions = '--export=NONE'
    cpus = 10
    memory = { 8.GB * task.attempt }
    time = { 60.min * task.attempt }
    errorStrategy = 'retry'
    maxRetries = 3
    withName: markDuplicatesSpark { memory = '32 GB' }
}
